/* Write a style sheet that will cause the li elements within any ol element to be numbered
in an outline style: the top-level li elements should use uppercase Roman numerals, the
next level uppercase letters, the next level lowercase Roman numerals, then lowercase
letters, and finally decimal numerals at the fifth level.
*/

#main-content{
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 40px);
}


ol { list-style-type: upper-roman; }

ol ol { list-style-type: upper-alpha; }

ol ol ol { list-style-type: lower-roman; }

ol ol ol ol { list-style-type: lower-alpha; }

ol ol ol ol ol { list-style-type: decimal; }