/* Question 3.1 
    3.1. Practice writing simple style rules. In the following exercises, make use of the following
    declarations (one per line):

    background-color: silver ;
    font-size: larger ;

    These will be referred to as “the background declaration” and “the text declaration,”
    respectively.
*/

/*  
background-color: silver ;
font-size: larger ; 
*/

/* Question a): 
    apply the background declaration to div elements and
    the text declaration to strong elements.
*/

div{
    background-color: silver ;
}

strong{
    font-size: larger ;
}

/* Question b): 
    applies both the background and text declarations to
    both p and em elements.
*/

p, em{
    background-color: silver ;
    font-size: larger ;
}


/* Questions c):
    Write a single style rule that applies the background declaration to HTML elements
    having a value of Nevada for their id attributes as well as to elements belonging to
    the shiny class.
*/

#Nevada, .shiny{
    background-color: silver ;
}

/* Question d): 
    Write a style rule that applies the text declaration to span elements that belong to
    the bigger class.
*/

span.bigger{
    font-size: larger ; 
}

/* Question e):
    Write a style rule that applies the text declaration to span elements that are descendants of other span elements.
*/

span span{
    font-size: larger ; 
}

/* Question f):
    Write a style rule that applies the background declaration when the cursor hovers
    over a hyperlink.
*/

a:hover{
    background-color: silver ;
}